---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Gallo Negro">
	<section class="h-screen relative bg-[url(/public/logo.png)] bg-contain bg-no-repeat bg-right" >
		<div class="absolute inset-0 h-screen bg-gray-900/75  from-gray-900/95 to-gray-900/25"></div>

		<div class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8">
			<div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
			<h1 class="text-3xl font-extrabold text-white sm:text-5xl">
				Sabores auténticos

				<strong class="block font-extrabold text-red-500"> Momentos inolvidables </strong>
			</h1>

			<p class="mt-4 max-w-lg text-white sm:text-xl/relaxed">
				Descubre los pequeños grandes placeres de la vida en cada bocado de nuestra cervecería
			</p>

			<div class="mt-8 flex flex-wrap gap-4 text-center w-100 grid justify-items-center">
				<a
				href="/foodmenu"
				class="block w-full rounded bg-red-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto"
				>
				Carta
				</a>

				<!-- <a
				href="#"
				class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-red-600 shadow hover:text-red-700 focus:outline-none focus:ring active:text-red-500 sm:w-auto"
				>
				Quienes somos
				</a> -->
			</div>
			</div>
		</div>
		</section>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
