---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import CardWork from '../components/CardWork.astro';
import FrontPage from '../components/FrontPage.astro';
import { getCollection } from 'astro:content';

const workexperience = await getCollection('workexperience');
---

<Layout title="Welcome to Astro.">
	<section>
		<div class="px-4">
			<div class="grid">
				{
					
					workexperience.map((work: { slug: any; data: any; }) => {
						const { slug, data } = work
						const { title, company, description, technologies} = data

						const card = <CardWork title={title}, technologies={technologies} description={description} company={company}/>;

						return (card)
					})
				}
			</div>
		</div>
	</section>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
