---
---

<div class="">
    <div class="block">
      <nav class="flex gap-6" aria-label="Tabs">
        <a
          href="/"
          class="uppercase shrink-0 rounded-lg p-2 font-bold text-white hover:text-red-600 hover:px-3 hover:font-extrabold transition-all"
        >
          Portada
        </a>

        <a
          href="#"
          class="uppercase shrink-0 rounded-lg p-2 font-bold text-white hover:text-red-600 hover:px-3 hover:font-extrabold transition-all"
        >
          Comida
        </a>
  
        <a
          href="#"
          class="uppercase shrink-0 rounded-lg p-2 font-bold text-white hover:text-red-600 hover:px-3 hover:font-extrabold transition-all"
        >
          Bebida
        </a>

      </nav>
    </div>
  </div>

  <style></style>