---
---

<div class="" transition:animate="none">
    <div class="grid content-center ">
      <nav class="flex gap-6" aria-label="Tabs">
        <a
          href="/foodmenu"
          class="uppercase content-center shrink-0 rounded-lg p-2 font-bold text-white hover:text-red-600 hover:px-3 hover:font-extrabold transition-all"
        >
          Comida
        </a>
  
        <a
        href="/"
        class="uppercase content-center shrink-0 rounded-lg p-2 font-bold text-white hover:text-red-600 hover:px-3 hover:font-extrabold transition-all"
      >
        <img src="/logo.png" class="w-16" alt="">
      </a>

        <a
          href="/drinkmenu"
          class="uppercase content-center shrink-0 rounded-lg p-2 font-bold text-white hover:text-red-600 hover:px-3 hover:font-extrabold transition-all"
        >
          Bebida
        </a>

      </nav>
    </div>
  </div>

  <style></style>